.info-zone {
  padding-top: 20px;
  text-align: left;
  font-size: 13px;
}

.definition {
  padding-bottom: 10px;
}

.definition em {
  font-weight: bold;
  font-style: normal;
}

.example {
  border-left: 4px solid var(--color-dark-bronze);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.example em {
  font-style: italic;
}
