:root {
  --color-yellow: #f2f3d9;
  --color-dark-blue: #030027;
  --color-blue: #151e3f;
  --color-pink: #c16e70;
  --color-transparent-pink: #c16e7033;
  --color-transparent-blue: #151e3fc0;
  --color-bronze: #dc9e82;
  --color-transparent-bronze: #dc9e82c0;
  --color-dark-pink: #b65455;
  --color-dark-bronze: #d28460;
  --color-very-dark-pink: #8f3d3f;
  --color-very-dark-bronze: #ce7850;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-yellow);
  font-family: "Sintony";
  overflow: auto;
}

#root {
  height: 100%;
}

.window {
  display: flex;
  background-color: var(--color-yellow);
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.game {
  height: 100%;
  width: 85%;
}

.whole {
  height: 100%;
}

.title {
  width: 85%;
  text-align: center;
  border: 3px solid var(--color-blue);
  font-size: 18px;
  margin-top: 35px;
  color: var(--color-blue);
  text-transform: uppercase;
  letter-spacing: 13px;
  font-family: "Sintony";
}

.title div {
  padding-top: 5px;
}

.middle {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.lower {
  width: 85%;
  margin: auto;
  height: 60%;
}

.secret-zone {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 25%;
  height: 100%;
}

.share-buttons {
  width: 70px;
  margin: auto;
}

.social-media-button {
  outline: none;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  overflow: visible;
}

.social-media-background {
  fill: var(--color-yellow);
  transition-property: fill;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  background: transparent;
}

.social-media-main {
  fill: var(--color-dark-bronze);
  transition-property: fill;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  background: transparent;
}

.social-media-icon:hover .social-media-background {
  fill: var(--color-dark-blue);
}

.social-media-icon:hover .social-media-main {
  fill: var(--color-dark-bronze);
}

.question {
  float: left;
  height: 100%;
  width: 70%;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  font-family: "Zeyada";
}

.score {
  float: left;
  position: relative;
  height: 100%;
  width: 25%;
  text-transform: uppercase;
  text-align: center;
}

.score p {
  font-size: 20px;
  margin: auto;
}

.score-number {
  font-size: 40px;
}

button {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

button:enabled {
  cursor: pointer;
}

.button-zone {
  text-align: center;
  margin-bottom: 20px;
}

.answer-button {
  height: 80%;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Sintony";
  border: none;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  background-color: var(--color-pink);
  color: var(--color-blue);
}

.answer-button:hover:enabled {
  background-color: var(--color-dark-pink);
}

.button-selected {
  background-color: var(--color-blue);
  color: var(--color-pink);
}

.answer-information {
  width: 100%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
  border-style: solid;
  border-color: var(--color-bronze);
  padding-left: 55px;
  padding-right: 35px;
  padding-bottom: 25px;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

/*
outline: 4px solid red;
outline-offset: 15px;*/

.answer-information:before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 15px;
  bottom: 6px;
  padding-right: 15px;
  border-style: solid;
  border-color: var(--color-bronze);
  border-width: 1px;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.answer-result {
  font-size: 20px;
}

.info-zone {
  padding-top: 20px;
  text-align: left;
  font-size: 13px;
}

.definition {
  padding-bottom: 10px;
}

.definition em {
  font-weight: bold;
  font-style: normal;
}

.example {
  border-left: 4px solid var(--color-dark-bronze);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.example em {
  font-style: italic;
}

.wikipedia-link {
  font-weight: bold;
  color: var(--color-dark-blue);
  position: relative;
  top: 30px;
}

.next-button {
  background-color: var(--color-dark-bronze);
  border: none;
  width: 150px;
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
  color: var(--color-yellow);
  cursor: pointer;
  outline: none;
  align: right;
  overflow: auto;
}

.next-button:hover {
  background-color: var(--color-very-dark-bronze);
}

.game-done {
  height: 100%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  display: flex;
}

.game-done-panel {
  padding-top: 30px;
  width: 60%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  background-color: var(--color-transparent-bronze);
  border-radius: 15px;
  z-index: 1;
  position: relative;
}

.game-done-panel:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: -10px;
  right: -10px;
  border-style: solid;
  border-color: var(--color-blue);
  border-width: 2px;
  z-index: -1;
  border-radius: 15px;
}
/*
.game-done-panel:after {
  content: "";
  display: block;
  position: absolute;
  top: -27px;
  left: 20px;
  bottom: -25px;
  right: 20px;
  padding-right: 15px;
  border-style: solid;
  border-color: var(--color-bronze);
  border-width: 2px;
  min-height: 100%;
  z-index: -2;
}
*/
.message-fin {
  color: var(--color-dark-blue);
  height: 10%;
}

.message-fin p {
  font-size: 20px;
  margin-top: 10px;
}

.final-score {
  color: var(--color-blue);
  height: 60%;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.final-score p {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 16px;
}

.final-score-number {
  font-size: 40px;
  font-weight: bold;
}

.restart-button {
  margin-bottom: 15px;
  background-color: var(--color-pink);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: var(--color-yellow);
  font-family: "Sintony";
  font-weight: bold;
  outline: none;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-underline-from-left:before {
  background: var(--color-very-dark-pink);
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 6px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.answer-enter {
  opacity: 0;
}
.answer-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}
.answer-exit {
  opacity: 1;
}
.answer-exit-active {
  opacity: 0;
  transition: opacity 0ms;
}

.score-enter {
  transform: scale(0.8);
}
.score-enter-active {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.question-enter {
  opacity: 0.5;
}
.question-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in;
}
