.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-yellow);
  font-family: "Sintony";
  overflow: auto;
}

#root {
  height: 100%;
}

.window {
  display: flex;
  background-color: var(--color-yellow);
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.game {
  height: 100%;
  width: 95%;
}

.title {
  width: 85%;
  text-align: center;
  border: 3px solid var(--color-blue);
  font-size: 18px;
  margin-top: 35px;
  color: var(--color-blue);
  text-transform: uppercase;
  letter-spacing: 13px;
  font-family: "Sintony";
}

.title div {
  padding-top: 5px;
}

button {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

button:enabled {
  cursor: pointer;
}
