.gameDone {
  height: 80%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  display: flex;
  margin-top: 5%;
}

.gameDonePanel {
  padding-top: 3%;
  width: 60%;
  padding-bottom: 3%;
  margin: auto;
  background-color: var(--color-transparent-bronze);
  border-radius: 15px;
  z-index: 1;
  position: relative;
  display: flex;
  text-align: center;
}

.share {
  text-align: center;
  width: 15%;
  float: left;
  display: inline-block;
  margin: auto;
}

@media (max-width: 767px) {
  .gameDonePanel {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  .share {
    width: 100%;
    flex-direction: row;
    bottom: 0;
    margin-top: 10%;
  }
}

.gameDonePanel:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: -10px;
  right: -10px;
  border-style: solid;
  border-color: var(--color-blue);
  border-width: 2px;
  z-index: -1;
  border-radius: 15px;
  display: inline-block;
}

.center {
  width: 70%;
  float: center;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.emptyColumn {
  width: 15%;
  float: right;
  padding: 1px;
}

.scoreComment {
  color: var(--color-dark-blue);
  height: 20%;
}

.scoreComment p {
  font-size: 20px;
  margin-top: 10px;
}

.finalScore {
  color: var(--color-blue);
  height: 100%;
  margin-bottom: 20px;
}

.finalScore p {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 20px;
}

.finalScoreNumber {
  font-size: 50px;
  font-weight: bold;
}

.restartButton {
  background-color: var(--color-pink);
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: var(--color-yellow);
  font-family: "Sintony";
  font-weight: bold;
  outline: none;
}

/* Underline From Left */
.hvrUnderlineFromLeft {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvrUnderlineFromLeft:before {
  background: var(--color-very-dark-pink);
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 6px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvrUnderlineFromLeft:hover:before,
.hvrUnderlineFromLeft:focus:before,
.hvrUnderlineFromLeft:active:before {
  right: 0;
}
