.quizz {
  height: 100%;
  width: 95%;
  margin: auto;
}

.upperPart {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 767px) {
  .upperPart {
    padding-left: 0%;
    padding-right: 0%;
  }
}

.share {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 15%;
  height: 100%;
}

.question {
  height: 100%;
  font-size: calc(100% + 3.5vw);
  width: 70%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  font-family: "Zeyada";
}

.score {
  float: right;
  position: relative;
  height: 100%;
  width: 15%;
  text-transform: uppercase;
  text-align: center;
}

.score p {
  font-size: 100%;
  margin: auto;
}

.scoreNumber {
  font-size: calc(100% + 2vw);
}

.lowerPart {
  width: 85%;
  margin: auto;
  height: 60%;
}

.playerChoice {
  text-align: center;
  margin-bottom: 20px;
}

.answerEnter {
  opacity: 0;
}
.answerEnterActive {
  opacity: 1;
  transition: opacity 600ms;
}
.answerExit {
  opacity: 1;
}
.answerExitActive {
  opacity: 0;
  transition: opacity 0ms;
}

.scoreEnter {
  transform: scale(0.8);
}
.scoreEnterActive {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.questionEnter {
  opacity: 0.5;
}
.questionEnterActive {
  opacity: 1;
  transition: all 0.5s ease-in;
}
