.buttons {
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
  width: 40px;
}

@media (max-width: 767px) {
  .buttons {
    width: 100%;
  }
}

.socialMediaButton {
  outline: none;
  width: 50px;
  height: 50px;
  outline: none;
  background-color: red;
  padding: 10px;
}

.buttonBackground {
  fill: #ffffff00;
  transition-property: fill;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  background: transparent;
}

.socialMediaMain {
  fill: var(--color-blue);
  transition-property: fill;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  background: transparent;
}

.socialMediaIcon:hover .buttonBackground {
  fill: var(--color-yellow);
}

.socialMediaIcon:hover .socialMediaMain {
  fill: var(--color-dark-blue);
}
